<form action="" name="EmploymentRegForm" data-netlify="true">
    <div class="formrow">
        <label for="employmentresume">Submit your Resume here:</label>
        <input type="file" name="EmploymentResume" id="employmentresume" required>
    </div>
    <div class="formrow">
        <label for="employmentcheck">Submit your Police Check here:</label>
        <input type="file" name="EmploymentCheck" id="employmentcheck" required>
    </div>
    <input type="submit" value="Submit" id="submitbutton">
</form>