<footer>
    <div class="threecol">
        <h2>Head Office:</h2>
        <h3>The Lambeth Learning Centre</h3>
        <p>Unit 6, 2386 Main St.<br>
        Lambeth, ON.<br>
            
        (519) 652-0252 or 1-866-61-TUTOR<br>
        Fax: (519) 203-0124</p></div>
    <div class="threecol">
        <h3>Email:</h3>
        <p>office@educational-help.com</p>
            
        <h3>Mailing Address:</h3>
        <p>P.O. Box 185, Lambeth Stn.<br>
        London, Ont.<br>
        N6P 1P9 </p>
    </div>
    <div class="threecol"><a href="https://www.google.com/maps/place/Educational+Help+Centres+Inc.+-+Lambeth+Learning+Centre%2FLondon+North+Tutoring%2FLondon+West+Tutoring/@42.9105385,-81.2959638,17z/data=!3m1!4b1!4m5!3m4!1s0x882ef720f4789bf1:0xe76052e7962bd837!8m2!3d42.9105346!4d-81.2937751" target="_blank"><img src="images/map1.jpg" alt="Map Showing Location of Lambeth Learning Centre"></a></div>
</footer>