<head>
    <title>Educational Help Centres - Tutoring Services</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html;charset=windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <meta property="og:title" content="Educational Help Centres">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://d33wubrfki0l68.cloudfront.net/085c4d3eae9ddc55bd23fda85266f6569cf415ea/07500/images/ehclogo.png">
    <meta property="og:url" content="https://educational-help.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="We offer one-to-one tutoring in-home, in-office, or online to London, Lambeth, St. Thomas, and Lambton/Kent.">
    <meta property="og:site_name" content="Educational Help Centres">
    <meta name="twitter:image:alt" content="Educational Help Centres">
    {{ if eq .Title "Books & Additional Resources" }}
        <link rel="stylesheet" type="text/css" href="../css/books.css">
    {{ end }}
    {{ if eq .Params.Form true }}
        <link rel="stylesheet" type="text/css" href="../css/regform.css">
    {{ end }}
</head>