<form action="" autocomplete="on" name="StudentRegForm">
    <h3>Basic Information</h3>
    <input type="date" name="FormDate" id="formdate">
    <div class="formrow">
        <input type="text" id="studentname" name="StudentName" placeholder="Student's full name">
        <input type="number" name="Age" id="age" placeholder="Age">
        <input type="text" name="Grade" id="grade" placeholder="Grade">
    </div>
    <input type="text" name="InvoiceName" id="invoicename" placeholder="Invoicing name with titles (e.g. Mrs, Mr, Dr, etc.)">
    <div class="formrow">
        <input type="text" name="Address" id="address" placeholder="Address">
        <input type="text" name="AddressCity" id="addresscity" placeholder="City">
        <input type="text" name="AddressCode" id="addresscode" placeholder="Postal code">
    </div>
    <div class="formrow">
        <input type="tel" name="HomePhone" id="homephone" placeholder="Home phone">
        <input type="tel" name="WorkPhone" id="workphone" placeholder="Work phone">
        <input type="tel" name="MobilePhone" id="mobilephone" placeholder="Mobile phone">
        <input type="email" name="Email" id="email" placeholder="Email address">
    </div>
    <h3>Confidential Information (If Applicable)</h3>
    <input type="checkbox" name="ComPermission" id="compermission">
    <label for="compermission">Permission to communicate with daytime teachers</label>
    <div class="formrow">
        <p>I learned about Educational Help Centres Inc. through:</p>
        <input type="radio" name="Publicity" id="wordofmouth">
        <label for="wordofmouth">Word Of Mouth</label>
        <input type="radio" name="Publicity" id="yellowpages">
        <label for="yellowpages">Yellow Pages</label>
        <input type="radio" name="Publicity" id="newspaper">
        <label for="newspaper">Newspaper</label>
        <input type="radio" name="Publicity" id="internet">
        <label for="internet">Internet</label>
        <input type="radio" name="Publicity" id="school">
        <label for="school">At School</label>
        <input type="radio" name="Publicity" id="publicityother">
        <label for="publicityother">Other</label>
        <input type="text" name="Publicity" id="publicityothertext"     placeholder="Explain">
    </div>
    <h3>Payment Options</h3>
    
</form>