{{ define "main" }}
<div id="hero">
    <h1>Educational Help Centres Inc.</h1>
    <h2>Providing tutoring services in the greater London area since 1994</h2>
</div>
<div id="covid">
    <h2>Covid-19 Update:</h2>
    <p>Commencing on July 16th for Stage 3, we are open to tutor in-person at our Lambeth office and in homes with limited capacity/numbers and strict P.P.E. Please contact your teacher directly to schedule your session.</p>
    <p>All in-person teachers are fully vaccinated. Thank you for your adherence to all Stage 3 rules!</p>
    <p>Please Note: No cash payments will be accepted at this time. Please pay via etransfer, credit card, online banking or mailing a cheque. Thank you for your understanding.</p>
</div>
<div id="mission">
    <h2>A Commitment to Learning</h2>
    <p>We are committed to provide certified educators and special education professionals to tutor/instruct students in a caring and competent manner in a one-to-one environment at the student&#39s/parents&#39 convenience. </p>
</div>
<div id="services">
    <h2>Our Tutoring Services</h2>
    <h3>We offer one-to-one tutoring in-home, in-office, or online to London, Lambeth, St. Thomas, Oxford County, and Lambton/Kent</h3>
    <p>Ontario Curricula<br>
        Elementary, Secondary and 1st and 2nd Year University/College<br>
        Instruction and Remediation of:<br>
        All Subjects, Study Skills, E.S.L., S.A.T. and G.E.D. Preparation<br>
        Course Selection/Career Counselling</p>
</div>
{{ end }}