{{ define "main" }}
<div>
    <h2>New Location:</h2>
    <p>As of October 31, our Lambeth office's new address is 4346 Col. Talbot Rd. (across from Copps).</p>
</div>
<div id="summer">
    <h2>School-Year Hours:</h2>
    <p>Our office is open from 9:00am-7:00pm on Monday, Tuesday, and Wednesday, from 12pm-7pm on Thursday, and from 9am-12pm on Friday. Please leave a message if you call outside these hours. In-office tutoring may be arranged at any time.</p>
</div>
<div id="mission">
    <h2>A Commitment to Learning</h2>
    <p>We are committed to providing certified educators and special education professionals to tutor/instruct students in a caring and competent manner. All tutoring takes place in a one-to-one setting at the student&#39s/parents&#39 convenience. </p>
</div>
<div id="services">
    <h2>Our Tutoring Services</h2>
    <h3>We offer one-to-one tutoring in-home, in-office, or online to London, Lambeth, St. Thomas, and Lambton/Kent.</h3>
    <p>Ontario Curricula<br>
        Elementary, Secondary, and some 1st and 2nd Year University/College subjects<br>
        Instruction and Remediation of:<br>
        All Subjects, Study Skills, E.S.L., S.A.T. and G.E.D. Preparation<br>
        Course Selection/Career Counselling</p>
</div>
{{ end }}