{{ define "main" }}
<div>
    <h2>Important Notice:</h2>
    <p>As of June 30th, 2026, our Lambeth office site only will be closing. We will still be open to help students in-home and online. The tutoring administration will remain open off-site.</p>
</div>
<div id="mission">
    <h2>A Commitment to Learning</h2>
    <p>We are committed to providing certified educators and special education professionals to tutor/instruct students in a caring and competent manner. All tutoring takes place in a one-to-one setting at the student&#39s/parents&#39 convenience. </p>
</div>
<div id="services">
    <h2>Our Tutoring Services</h2>
    <h3>We offer one-to-one tutoring in-home or online to London, Lambeth, St. Thomas, and Lambton/Kent.</h3>
    <p>Ontario Curricula<br>
        Elementary, Secondary, and some 1st and 2nd Year University/College subjects<br>
        Instruction and Remediation of:<br>
        All Subjects, Study Skills, E.S.L., S.A.T. and C.A.E.C. Preparation</p>
</div>
<div id="hours">
    <h2>Hours of Operation</h2>
    <p>Monday | 9:00 AM - 5:00 PM
        <br>Tuesday | 12:00 PM - 5:00 PM
        <br>Wednesday | 12:00 PM - 5:00 PM
        <br>Thursday | 12:00 PM - 5:00 PM
        <br>Friday | 9:00 AM - 11:00 AM
    </p>
</div>
{{ end }}